extends layout

block content
    header
        h1 Send your message
    form(method="post" action="/new").post-message-form
        div.input-group
            label(for="user") Your username
            input(type="text" name="user" id="user" required)
        div.input-group
          label(for="messageText") Your message
          textarea(name="messageText" id="messageText" required)
        input(type="submit" value="send your message").button
